<div class="post uk-card uk-card-default uk-card-body uk-margin" style="width: 75%">
    {{username}} posted the following question:
    <h5 style="padding-top: 10px">{{body}}</h5>
    {{!-- <button type="button" class="answer btn btn-danger" data-id="{{id}}">
        post answer</button> --}}

    <button class="uk-button uk-button-default" data-id="{{id}}" disabled>chat</button>
    
    <a class="answer uk-button uk-button-default" href="#modal-sections" uk-toggle data-id="{{id}}">post answer</a>

    <div id="modal-sections" uk-modal>
        <div class="uk-modal-dialog">
            <button class="uk-modal-close-default" type="button" uk-close></button>
            <div class="uk-modal-header">
                <h2 class="uk-modal-title">help a peer out</h2>
            </div>
            <div class="uk-modal-body">
                <form>
                    <div class="uk-margin">
                        <textarea class="uk-textarea" rows="5" placeholder="write your response here"></textarea>
                    </div>
                </form>
            </div>
            <div class="uk-modal-footer uk-text-right">
                {{!-- <button class="uk-button uk-button-default uk-modal-close" type="button">Cancel</button> --}}
                <button class="save uk-button uk-button-primary" type="button">Save</button>
            </div>
        </div>
    </div>

</div>

<br>